.text
{
    width:200px;
    border:1px groove #CCC;
    padding: 5px;
    font-size:15px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    color:white;
    background-color: black;
}
.btn
{
width: 100px;
    height: 34px;
    border: 1px groove #990033;
    background-color:#990033;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:14px;
    color:white;
}